$fontRoboto: 'Roboto', sans-serif;
$fontDMSerif: 'DM Serif Display', serif;
$fontRambla: 'Rambla', sans-serif;
$fontTinos: 'Tinos', serif;
$off-white: rgb(189, 189, 189);
$dark-gray: rgb(31, 31, 31);
$light-gray: rgba(79, 79, 79, 0.077);
$linear-blue: linear-gradient(0deg, rgba(60,61,92,1) 0%, rgba(19,19,19,1) 100%);
$bluey-black:  rgb(21, 19, 32);
$light-bluey-black: rgb(28, 27, 41);