/* This is an example of how to import a partial scss file*/
@import '_variables';
@import 'reset';
@import 'mixins';

body, html {
  height: 100vh;
  width: 100vw;
}
body {
  @include flex(center, center, column);
  overflow: hidden;
  font-family: $fontRoboto;
}

.header-wrapper {
  @include flex(start, start, column);
  height: 30%;
  width: 100%;
  background: url('https://i.redd.it/privtmr2u6y71.jpg');
  background-size: cover;
  background-position: bottom;
}

.travel-tracker-title {
  @include flex(center, start, column);
  font-size: 8vw;
  height: 20vh;
  width: vw;
  color: $off-white;
  font-family: $fontRambla;
  // font-family: $fontDMSerif;
  padding: 1vw;
  margin-top: 2.5%;
}


main {
  @include flex(center, center, row);
  height: 75%;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-attachment: fixed;
  background: $bluey-black;
}

aside {
  @include flex(space-evenly, center, column);
  height: 100%;
  width: 30%;
  color: $off-white;
}

.greeting-container {
  @include flex(start, start);
  height: 15%;
  width: 100%;
}

.traveler-greeting {
  margin-left: 5%;
  font-size: 2vw;
  color: rgb(165, 164, 163);
  font-family: $fontDMSerif;
}

.request-container {
  @include flex(start, center, column);
  margin-top: 1%;
  height: 40vh;
  width: 25vw;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  color: $off-white;
  border-radius: 25px;
  background: rgb(28, 27, 41);
  font-weight: 600;
}

.request-header{
  @include flex(center, center, column);
  // border: 2px solid white;
  font-size: 2vw;
  height: 20%;
}

.request-input-container {
  @include flex(start, stretch, column);
  height: 40vh;
  width: 20vw;
}

label {
  height: 2vh;
  width: 20vw;
}

.destination-selector,
.date-input,
.traveler-amount,
.submit-btn {
  background-color: rgba(38, 36, 58, 0.749);
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 3.5vh;
  width: 20vw;
  border-style: none;
  color: $off-white;
}

.total-spent-container {
  @include flex(center, center);
  height: 10%;
  width: 80%;
  font-size: 2vw;
}

.trips-section {
  height: 100%;
  width: 70%;
  @include flex(space-between, center, column);
  overflow: hidden;
}

.button-container {
  @include flex(center, center, row);
  width: 50%;
  margin-right: 10px;
}

button {
  height: 25px;
  width: 25%;
  color: rgb(184, 184, 184);
  border-style: none;
  border-radius: 9px;
  background: rgb(28, 27, 41);
  border: 2px solid rgba(94, 94, 94, 0.406);
  font-family: $fontRoboto;
  font-size: 0.8vw;
  margin: 0.5vw;
  margin-bottom: 2vh;
  margin-top: 0px;
  opacity: 65%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 15px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  // border: 2px solid $off-white;
}

.item {
  @include flex(center, center, column);
  grid-column: auto;
  width: 29vw;
  height: 58vh;
  margin-top: 4%;
  margin-bottom: 2%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  color: $off-white;
  border-radius: 25px;
  background: rgb(28, 27, 41);
  overflow: hidden;
}

img {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%)
}

.destination-information-container {
  @include flex(center, start, column);
  height: 50%;
}

.destination-header {
  height: 20vh;
  font-size: 1.5vw;
  margin-top: 1vh;
  font-weight: 900;
}

.paragraph-container {
  height: 80%;
}

p {
  font-size: 1vw;
  font-weight: 650;
  margin-bottom: 2vh;
  line-height: 2vw;
}